  <div class="message__container">
    <div class="upper__message">
      <div class="message__username"><%= message.user.name %></div>
      <div class="message__datetime"><%= l message.created_at %></div>
    </div>
    <div class="lower__message"><%= message.content %></div>
  </div>