.wrapper{
  display: flex;
}

.side-bar{
  width: 300px;
  height: 100vh;
  background-color: #2F3E51;
}

.side-header{
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rooms{
  height: calc( 100vh - 100px );
  overflow: scroll;
}

.main-chat{
  width: calc( 100vw - 300px );
  height: 100vh;
}

.main-header{
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
}

.main-content{
  height: calc( 100vh - 100px - 90px );
  background-color: #fafafa;
  padding: 46px 40px 0 40px;
}

.form-block{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}

.user__name a{
  text-decoration: none;
  color: #FAFAFA;
  font-size: 16px;
}

.create__room__btn a{
  text-decoration: none;
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  font-size: 10px;
}

.room a{
  color: white;
  text-decoration: none;
}

.room{
  padding: 20px 20px 40px 20px;
}
